*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(234, 225, 214);
    height: 100vh;
}
#titreTete{
    font-style: italic;
}
h2{
    font-size: 2em;
    color: rgb(89, 15, 15);
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
}
.parent {
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 5px;
    margin: 50px;
}
.synt { 
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    grid-area: 1 / 1 / 5 / 2;
    background-color: rgba(127, 255, 212, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
} 
.formul{
    border: 3px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    grid-area:1 / 2 / 5 / 3;
    background-color: rgb(203, 157, 86,0.50);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
}
.crud{ 
    border: 3px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    grid-area:1 / 3 / 5 / 4;
    background-color:rgba(169, 169, 169, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
.exo { 
    /* height: ; */
    border: 3px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    grid-area: 1 / 4 / 5 / 5;
    background-color: rgba(0, 255, 255, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
ol{
    list-style: none;
}
a{
    display: flex;
    width: 230px;
    background-color: rgb(118, 93, 93);
    font-size: 1.1em;
    color: white;
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 10px 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 900;
    justify-content: center;
}